accelerate==0.21.0
bitsandbytes==0.43.3
einops==0.6.1
einops-exts==0.0.4
gradio==4.16.0
gradio_client==0.8.1
httpx==0.24.0
markdown2==2.5.0
nltk==3.8.1
numpy==1.26.4
peft==0.12.0
scikit-learn==1.2.2
sentencepiece==0.1.99
shortuuid==1.0.13
timm==0.6.13
tokenizers==0.15.1
torch==2.1.2
torchvision==0.16.2
transformers==4.37.2
wavedrom==2.0.3.post3
inflect==7.4.0
opencv-python==4.10.0.84
protobuf==5.29.2
transformers-stream-generator==0.0.5
pycocotools==2.0.8
